h1 {
	color: white;
	background-color: orange;
	padding: 20px;
	font-size: 24px;
}

#intro {
	background-color: yellow;
	padding: 40px 10px 40px 10px;
}

p {
	color: green;
}

#targetNumber {
	background-color: blue;
	padding: 35px;
	margin-top: 10px;
	font-size: 20px;
}

#scores {
	background-color: blue;
	padding: 30px;
	margin: 10px;
}

